body {
  margin: 0;
  max-width: 100vw;
  font-family: Arial, sans-serif; 
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode, #output {
  font-family: "Courier New", Courier, monospace; 
  background-color: #1e1e1e; 
  color: #dcdcdc; 
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

#runButton {
  background-color: #839c7d; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#runButton:hover {
  background-color: #708c67; 
}

#inputFile {
  background-color: #f4f4f4; 
  font-family: "Courier New", Courier, monospace; 
  color: #333; 
  padding: 1rem;
  border-radius: 8px;
  white-space: pre-wrap; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

#error {
  color: #d9534f; 
  font-family: "Courier New", Courier, monospace; 
  font-weight: bold;
}

#terminalWindow {
  border: 2px solid #444; 
  border-radius: 8px;
  background-color: #1e1e1e;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#terminal {
  height: 95%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: #dcdcdc;
  background-color: #000;
  padding: 10px;
  border-radius: 6px;
  overflow-y: auto;
}
